langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-experimental==0.0.57

langgraph==0.0.32

chromadb==0.4.24
sentence-transformers==2.7.0
transformers==4.41.2

fastapi==0.110.0
uvicorn==0.29.0
pydantic==2.6.4
python-dotenv==1.0.1

rank-bm25==0.2.2
ollama==0.2.1

unstructured[all-docs]==0.14.9
pdfminer.six==20221105
tiktoken==0.7.0
chardet==5.2.0
docx2txt==0.9

ragas==0.1.9
datasets==2.19.1

xxhash==3.5.0

ragas==0.1.9
datasets==2.19.1

psutil